*~
*.class
/introduccion-java/ejemplos/basicos/javase_fundamentos/build/
/introduccion-java/labs/lab03/poo_fundamentos/nbproject/private/
/introduccion-java/soluciones/javase_dukes-eshop/build/
/introduccion-java/soluciones/javase_poo_empresa_nomina/nbproject/private/
/introduccion-java/soluciones/javase_poo_empresa_nomina/build/