<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
       <form th:object="${pais}" th:action="@{/agregar}" method="post">
            <fieldset>
                <legend>Informaci&oacute;n Pa&iacute;s</legend>
            <label>Descripci&oacute;n</label>
            <input type="text" name="descripcion" th:field="*{descripcion}" />
            <button type="submit">Agregar Pais</button>
            </fieldset>
        </form>
    </body>
</html>
