<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Listado de paises</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 th:text="${tituloEncabezado}">Listado de paises</h1>
        <table border="1" width="100%">
            <tr>
                <th>Id</th>
                <th>Descripci&oacute;n</th>
            </tr>
            <tr th:each="pais: ${pais}">
                <td th:text="${pais.id}">id</td>
                <td th:text="${pais.descripcion}">descripcion</td>               
            </tr>
            
        </table>
        <br>
        <br>
        
                
    </body>
</html>
